<section id="page">
  <div class="header-content">
    <img src="assets/images/dream-cars-logo.png" class="logo">
  </div>
  <div class="menu-options">
    <ul>
      <li><a routerLink="/">Home</a>
        <ul>
          <li><a routerLink="buy-car">Buy Car</a></li>
          <li><a routerLink="sell-car">Sell Car</a></li>
          <li><a routerLink="get-quote">Get Quote</a></li>
          <li><a routerLink="check-availability">Check Availability</a></li>
        </ul>
      </li>
      <li><a href="#">About</a>
        <ul>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Our Idea</a></li>
          <li><a href="#">Mission</a></li>
          <li><a href="#">Resources</a></li>
        </ul>
      </li>
      <li><a href="#">Things To Do</a>
        <ul>
          <li><a href="#">Activities</a></li>
          <li><a href="#">Deals</a></li>
          <li><a href="#">Shops</a></li>
          <li><a href="#">Events</a></li>
        </ul>
      </li>
      <li><a href="#">Contact</a>
        <ul>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Store Site</a></li>
        </ul>
      </li>
      <li><a href="#">News</a>
        <ul>
          <li><a href="#">Current</a></li>
          <li><a href="#">Recommended</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</section>
